.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
  color: #fff;
  line-height: normal;
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
}
